

        <link rel="stylesheet" href="/css/index.css">

    <h1>This is Codial > <%= title %></h1>

        <section id="feed-posts">


                <h4>Posts</h4>
            <% if(locals.user) { %>
                <form action="/posts/create" id="new-post-form" method="post">
                    <label for="post-content"></label>
                    <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Post Content Goes Here..." required></textarea>

                    <input type="submit" value="Post">
                </form>
            <% } %>

                <div id="post-list-container">
                    <ul>
                        <% for(post of posts) { %>
                            <li>
                                <p>
                                    <%= post.content %>
                                    <br>
                                    <small>
                                        <%= post.user.userName %>
                                    </small>
                                </p>
                                <div class="post-comments">
                                    <% if(locals.user) { %>
                                        <form action="/comments/createComment" method="post">
                                            <input type="text" name="comment-content" placeholder="Comments..." required>
                                            <input type="hidden" name="post" value="<%= post._id %>">
                                            <input type="submit" value="Post Comment">
                                        </form>
                                    <% } %>

                                    <div class="post-comments-list">
                                        <ul id="<%= post._id %>">
                                            <% for(comment of post.comments) { %>
                                                <p>
                                                    <%= comment.content %>
                                                </p>

                                                <small>
                                                    <%= comment.user.userName %>
                                                </small>

                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                        <% } %>
                    </ul>
                </div>

        </section>

