<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <%- style %>
    <title>
        <%= title %>
    </title>
</head>
<body>

<%- include('_header'); -%>

<main id="layout-main">
    <%- body -%>
</main>

<%- include('_footer'); -%>

<%- script %>

<script>
    <% if(flash.success && flash.success.length > 0) { %>
        new Noty({
            theme: 'sunset',
            text: '<%= flash.success %>',
            type: 'success',
            layout: 'topCenter',
            timeout: 1500
        }).show();
    <% } %>

    <% if(flash.error && flash.error.length > 0) { %>
    new Noty({
        theme: 'sunset',
        text: '<%= flash.error %>',
        type: 'error',
        layout: 'topCenter',
        timeout: 1500
    }).show();
    <% } %>
</script>

</body>
</html>